.mx--title{
    font-size: 34px;
    text-align: center;
}

@media (max-width: 1200px){
    .mx--title{
        font-size: 28px;
    }
}

@media(max-width: 992px){
    .mx--title{
        font-size: 23px;
    }
}