.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background-soft);
    height: 100px;
    padding: 0 15rem;

    span{
        margin-right: 20px;
        color: var(--color-primary-light);
    }
}

@media(max-width: 1200px){
    .footer{
        padding: 0 10rem;
    }
}
@media(max-width: 992px){
    .footer{
        padding: 0 4rem;
    }
}
