<div class="cashback">
    <div class="cashback__title">
        <h1>{{ 'CASHBACK.TITLE' | translate }}</h1>
    </div>

    <div class="cashback__cards">
        @for (instantCoupon of selectedCoupons(); track $index) {
            <mat-card class="instant-coupons-card" appearance="outlined">
                <img mat-card-image [src]="instantCoupon.image" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-chip class="cashback--chip">
                        {{ 'CASHBACK.CHIP_LABEL' | translate }}
                    </mat-chip>
                    <span class="instant-coupons-card__title">{{instantCoupon.brandName}}</span>
                    <p class="instant-coupons-card__description">{{instantCoupon.description}}</p>
                </mat-card-content>
            </mat-card>
        }
    </div>

    <div class="cashback__actions">
        <button class="primary--button" matButton="filled">
            {{ 'CASHBACK.ACTION' | translate }}
            <mat-icon iconPositionEnd>chevron_right</mat-icon>
        </button>
    </div>
</div>