.home__title{
    width: 67%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__categories{
    width: 67%;
    margin: auto;
    margin-top: 5rem;
}

.home__instant-coupons{
    @extend .home__categories;
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}